[submodule "fecompiler/thirdparty/slang"]
	path = fecompiler/thirdparty/slang
	url = git@github.com:MikePopoloski/slang.git
[submodule "fecompiler/thirdparty/verilator"]
	path = fecompiler/thirdparty/verilator
	url = git@github.com:verilator/verilator.git
[submodule "fecompiler/thirdparty/rt-thread-am"]
	path = fecompiler/thirdparty/rt-thread-am
	url = git@github.com:Luyoung0001/rt-thread-am.git
[submodule "fecompiler/thirdparty/picorv32"]
	path = fecompiler/thirdparty/picorv32
	url = https://github.com/YosysHQ/picorv32.git
[submodule "fecompiler/thirdparty/serv"]
	path = fecompiler/thirdparty/serv
	url = https://github.com/olofk/serv.git
[submodule "fecompiler/thirdparty/scr1"]
	path = fecompiler/thirdparty/scr1
	url = https://github.com/syntacore/scr1.git
[submodule "fecompiler/thirdparty/ibex"]
	path = fecompiler/thirdparty/ibex
	url = https://github.com/lowRISC/ibex.git
[submodule "fecompiler/thirdparty/cv32e40p"]
	path = fecompiler/thirdparty/cv32e40p
	url = https://github.com/openhwgroup/cv32e40p.git
[submodule "fecompiler/thirdparty/darkriscv"]
	path = fecompiler/thirdparty/darkriscv
	url = https://github.com/darklife/darkriscv.git
[submodule "fecompiler/thirdparty/learn-fpga"]
	path = fecompiler/thirdparty/learn-fpga
	url = https://github.com/BrunoLevy/learn-fpga.git
