[submodule "fecompiler/thirdparty/slang"]
	path = fecompiler/thirdparty/slang
	url = git@github.com:MikePopoloski/slang.git
[submodule "fecompiler/thirdparty/verilator"]
	path = fecompiler/thirdparty/verilator
	url = git@github.com:verilator/verilator.git
[submodule "fecompiler/thirdparty/rt-thread-am"]
	path = fecompiler/thirdparty/rt-thread-am
	url = git@github.com:NJU-ProjectN/rt-thread-am.git
